*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(180deg,rgb(153,224,252)
  , white);
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  text-align: center;
  padding: 40px;
  color: rgb(37, 25, 78);
  font-family: 'Press Start 2P', cursive;
}
#color-palette{
  display: flex;
  margin: auto;
  border-radius: 5px;
  border: 3px solid black;
  width: 162px;
  align-items: center;
}
.color{
  border: 1px solid black;
  width: 40px;
  height: 40px;
}
main {
  margin: auto;
  text-align: center;
  align-items: center;
}
#clear-board, #board-size, #generate-board{
  margin-top: 10px;
  margin-bottom: 10px;
}
#pixel-board{
  text-align: center;
  margin: auto;
  border-radius: 5px;
  border: 3px solid black;
  width: 202px;
}
.pixel-div{
  display: flex;
  justify-content: center;
}
.pixel{
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
} 
#generate-board{
  background-color: rgb(25, 195, 139);
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid black;
  height: 30px;
  width: 50px;
}
#clear-board{
  border-radius: 5px;
  border: 2px solid black;
  height: 30px;
  width: 70px;
}
#board-size{
  border-radius: 5px;
  border: 2px solid black;
  height: 30px;
}
a{
  color: rgb(37, 25, 78);
  text-decoration: none;
}
footer{
  color: rgb(37, 25, 78);
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
